body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050505;
}
#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}
button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 20px;
    background-color: #4ECDC4;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    z-index: 100;
}